---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/roboto-mono";
import "../styles/global.css";

// Supports weights 100-700
import Badge from "../components/Badge.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import Container from "../components/Container.astro";
import Experiences from "../components/Experiences.astro";
import Suitscase from "../components/icons/Suitscase.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Porfolio de Javier Banquez - Desarrollador Web, Programador FullStack 🇵🇹"
  depcrition="Contrata a Javier, un desarrollador FullStack con +4 años de experiencia en Madeira, Portugal 🇵🇹. Especializado en mejorar la eficiencia de las aplicaciones."
>
  <Container>
    <a href="/" class="flex items-center justify-center md:justify-start">
      <img
        src="/javier-min.png"
        alt="logo"
        class="bg-red-800 rounded-full size-36 md:size-18"
      />
    </a>
    <h1
      class="text-4xl font-bold flex items-start flex-wrap gap-2 justify-center md:justify-start"
    >
      Hey, I'm Javier <Badge>Available</Badge>
    </h1>
    <h2 class="text-lg text-wrap">
      +5 years of experience. <span class="text-red-400 font-bold"
        >Developer FullStack.</span
      > In Madeira, Portugal 🇵🇹. I specialize in improving application efficiency.
    </h2>
    <nav class="flex gap-4 mt-6 flex-wrap">
      <SocialPill href="https://www.linkedin.com/in/franciscobanquez">
        <LinkedInIcon class="w-6 h-6" /> LinkedIn</SocialPill
      >
      <SocialPill href="https://github.com/loxzer01">
        <GithubIcon class="w-6 h-6" /> Github</SocialPill
      >
      <SocialPill href="mailto:banquezfrancisco@yahoo.com">
        <EmailIcon class="w-6 h-6" /> banquezfrancisco@yahoo.com</SocialPill
      >
    </nav>
  </Container>
  <Container class="pb-2" id="experience">
    <h2 class="text-xl font-bold flex items-center gap-3 mb-2">
      <Suitscase class="w-6 h-6" /> Experiences
    </h2>
    <Experiences />
  </Container>
  <Container id="project" class="max-w-3xl">
	  <h2 class="text-2xl font-bold mb-4">Projects</h2>
	  <Projects />
	  <h2 class="text-lg font-semibold">Skills</h2>
	  <Skills />
</Container>

  <Container id="about">
	<About/>
  </Container>
  <Contact id="contact"/>

	<Footer/>

</Layout>
