<!-- section de about con tailwind -->
<section>
  <h2 class="text-2xl font-bold mb-4">About me</h2>
  <p class="text-lg">
    I am a web developer with over 5 years of experience in developing web and
    mobile applications. I specialize in improving application efficiency and
    creating high-quality products.
  </p>
  <p class="text-lg my-2">
    I have worked on blockchain projects, mobile applications, and database
    management systems. I am passionate about learning new technologies and
    improving my programming skills.
  </p>
  <p class="text-lg">
    I am currently looking for opportunities to work on challenging projects and
    collaborate with talented development teams. In the meantime, I am studying
    my skills in AI, Machine Learning and Data Science.
  </p>
</section>
