<!-- section de about con tailwind -->
<section>
  <h2 class="text-2xl font-bold mb-4">Sobre mi</h2>
  <p class="text-lg">
    Soy un desarrollador web con más de 4 años de experiencia en el desarrollo
    de aplicaciones web y móviles. Me especializo en mejorar la eficiencia de
    las aplicaciones y en la creación de productos de alta calidad.
  </p>
  <p class="text-lg">
    He trabajado en proyectos de blockchain, aplicaciones móviles y sistemas de
    gestión de bases de datos. Me apasiona aprender nuevas tecnologías y mejorar
    mis habilidades de programación.
  </p>
  <p class="text-lg">
    Actualmente, estoy buscando oportunidades para trabajar en proyectos
    desafiantes y colaborar con equipos de desarrollo talentosos.
  </p>
</section>
