
<span
  class={`text-xs font-medium ml-2 me-2 my-auto px-2.5 py-0.5  rounded-sm bg-green-900 text-green-300`}
>
  <slot />
</span>
<!-- <span class=`bg-${color}-100 text-${color}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-${color}-400 border border-${color}-400`><slot /></span> -->