<header class="justify-center flex l px-2 py-5">

  <nav class="flex gap-2 opacity-90 text-[12px] md:gap-12 md:text-sm" >
      <a href="#top">Home</a>
      <a href="#experience">Experience</a>
      <a href="#project">Projects</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>

  </nav>
</header>
