<header class="justify-center flex l px-2 py-5">

  <nav class="flex gap-4 opacity-90 md:gap-12" >
      <a href="#top">Inicio</a>
      <a href="#experience">Experiencia</a>
      <a href="#project">Proyectos</a>
      <a href="#about">Sobre mi</a>
      <a href="#contact">Contacto</a>

  </nav>
</header>
