<header class="justify-center flex l px-2 py-5">

  <nav class="flex gap-4 opacity-90 md:gap-12" >
      <a href="#top">Home</a>
      <a href="#experience">Experience</a>
      <a href="#project">Project</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>

  </nav>
</header>
